<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Catalog</title>
    @Styles.Render("~/Content/css")
</head>
<body class="container-fluid">
    <div>
        @Scripts.Render("~/bundles/Angular")

        @RenderBody()
    </div>
</body>
</html>